*{
    padding: 0;
    margin: 0;
}
.font-fira-sans{
  font-family: "Fira Sans", sans-serif;
  font-optical-sizing: auto;
}
body{
    padding: 0 160px;
    background-color: #F5F5F5;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}
.btn{
    border: 1px solid #006A50;
    background-color: #F5F5F5;
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    padding: 15px 30px;
    border-radius: 8px;
    color: #006A50;
    cursor: pointer;
}
.hero-container{
    background-color: #C6E4D6;
    padding: 80px 60px;
    display: flex;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.idea h3{
    font-size: 24px;
    font-weight: 500;
    color: #0e0e0e85;
    margin-bottom: 16px;
}
.idea h2{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.idea button{
    color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 34px;
}
.pillar{
    margin-bottom: 80px;
}

.pillar-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 32px;
}
.pillar-card{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.pillar-card .card{
    padding: 24px;
    border: 1px solid #0e0e0e15;
    border-radius: 16px;
    background-color: #FFFFFF;

}
.pillar-card .card img{
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}
.pillar-card .card h3{
    font-size: 20px;
    font-weight: bold;
    color: #0e0e0eb6;
    margin-bottom: 12px;
}

.pillar-card .card p{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e75;
    margin-bottom: ;
}

